<link rel="stylesheet" href="../css/login.css">

<div class="login">
    <form action="/auth/login" method="POST">
      <div class="form-group">

        <h1>Welcome Back!</h1>
        <center><img src="../img/trolley.png"></center>

        <input name="username" placeholder="Username" type="text" id="authUsername" class="form-control" autofocus="autofocus"></input>
        <input name="password" placeholder="Password" type="password" id="authPassword" class="form-control"></input>
        <h3><% include ../partials/alerts %></h3>
        <input class="animated" type="submit" value="SUBMIT"></input>
      </div>
    </form>
    <a class="forgot" href="/auth/signup">New to this site? Sign up here!</a>
</div>
