

<link href="https://fonts.googleapis.com/css?family=Bubblegum+Sans" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Clicker+Script" rel="stylesheet">
<link rel="stylesheet" href="../css/style.css">

<div class="login">
    <form action="/auth/signup" method="POST">
        <h2>Register</h2>
        <input name="username" placeholder="Username" type="text" id="authUsername" class="form-control"></input>
        <input name="password" placeholder="Password" type="password" id="authPassword" class="form-control"></input>
        <input name="email" placeholder="E-Mail" type="text" id="authEmail" class="form-control"></input>

        <input class="animated" type="submit" value="Register"></input>
    </form>
    <a class="forgot" href="#">Already have an account? Log in here!</a>
</div>
