<link rel="stylesheet" href="../css/style.css">

<div class="login">
    <form action="/auth/signup" method="POST">
      <div class="form-group">

        <h1 style="font-size: 70px">Register</h1>
        <center><img src="../img/hello.png"></center>

        <input name="username" placeholder="Username" type="text" id="authUsername" class="form-control" autofocus="autofocus"></input>
        <input name="password" placeholder="Password" type="password" id="authPassword" class="form-control"></input>
        <input name="email" placeholder="E-Mail" type="text" id="authEmail" class="form-control"></input>

        <input class="animated" type="submit" value="SUBMIT"></input>
      </div>
    </form>
    <a class="forgot" href="/auth/login">Already have an account? Log in here!</a>
</div>
