<link rel="stylesheet" href="../css/style.css">

<body style="background: #C2FCE4">
<form action="/create" method="POST">
    <h2><label>Add a new item</label></h2>
    <center><p>Just paste the link of your item here, add in a tag for easy reference and you're good to go!</p></center>
    <div class="form-group">
      <input type="text" class="form-control" id="url" placeholder="URL" name="url" autofocus="autofocus">
    </div>

    <div class="form-group">
      <input type="text" class="form-control" id="tag" placeholder="Tag" name="tag">
    </div>
    <center>        <input class="animated" type="submit" value="SUBMIT"></input>
</center>
  </form>
</body>
