<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="/css/jquery-sakura.min.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/css/homepage.css">
  <title>Bunny's Basket</title>
</head>
<body>
  <div id="buttons">
<center><img src="../img/buny.png">
  <h2>Bunny's Basket</h2>
  <div id="about">
    Can't decide if you want to BUY something?<br>
    Bookmark and compare it with other bookmarked items here!<br>
  </div></center>
<center>
    <form action="/auth/signup">
        <input id="signup" type="submit" value="Sign Up" />
    </form>
    <form action="/auth/login">
        <input id="login" type="submit" value="Log In" />
    </form>
</center>

  </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/js/jquery-sakura.min.js"></script>
    <script src="/js/sakura-script.js"></script>
</body>

</html>
