* {
	margin: 0;
	padding: 0;
}
body {
	background: #F5CEE7;
	color: #435160;
	font-family: 'Poppins', sans-serif;
}

h1 {
	color: #6D7781;
	font-family: 'Clicker Script';
	font-size: 30px;
	font-weight: bold;
	font-size: 3.6em;
	text-align: center;
	margin-bottom: 20px;
	margin-top: 50px;
}


h2 {
	color: #6D7781;
	font-family: 'Fjalla One';
	font-size: 30px;
	font-weight: bold;
	font-size: 3.6em;
	text-align: center;
	margin-bottom: 20px;
	margin-top: 50px;
}

form {
    display: inline;
}

ul {
    /*margin: 0 auto;
    text-align: center;
		width: 800px;
		list-style-type: none
		display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style-type: none;*/
    padding-left: 0;
		list-style-type:none;
		margin:0px;
		padding:0px;
}

li {
	 	/*display: inline-block;
    width: 200px;
    float: left;
    margin: 10px;
		height: 300px;*/
		display:inline-block;
	  vertical-align:bottom;
	  width:500px;
	  margin: 0px 0px 5px 19px;
		text-align: center;
		/*overflow: auto;*/
}

#itemtitle {
  font-family: "Fjalla One";
	font-size: 24px
}

a:hover {
	color: #456FF7
}

/*li {
    margin: 5px 0;
}*/

h3 {
	text-align: center;
	margin-top: 20px
}

a {
	color: #435160;
	text-decoration: none;
}

.login {
	width: 350px;
	position: absolute;
	top: 10%;
	left: 50%;
	margin-left: -175px;
}

input[type="text"], input[type="password"] {
  font-family: 'Poppins';
	width: 350px;
	padding: 20px 0px;
	background: transparent;
	border: 0;
	/*border-bottom: 1px solid #435160;*/
	outline: none;
	color: #6D7781;
	font-size: 14px;
}

input[type="submit"] {
	background: #C3CBFA;
	border: 0;
	width: 350px;
	height: 40px;
	border-radius: 5px;
	color: #fff;
  font-family: 'Poppins';
	font-size: 14px;
	cursor: pointer;
	transition: background .3s ease-in-out;
	outline: none
}

input[type="submit"]:hover {
	background: #A5B1FA;
	animation-name: shake;
}

textarea {
	width: 350px;
	height: 100px;
	vertical-align: top;
	color: #6D7781;
	background: transparent;
	font-family: 'Poppins';
	font-size: 14px;
	border: 0;
	outline: none
}

.forgot {
	margin-top: 15px;
	display: block;
	font-size: 14px;
	text-align: center;
	font-weight: bold;
}

.forgot:hover {
	margin-top: 15px;
	display: block;
	font-size: 16px;
	text-align: center;
	font-weight: bold;
	color: #6D7781;
}

#remove-item {
	background: #EB6A88;
	border: 0;
	width: 350px;
	height: 40px;
	border-radius: 5px;
	color: #fff;
  font-family: 'Poppins';
	font-size: 14px;
	cursor: pointer;
	transition: background .3s ease-in-out;
	outline: none
}

#remove-item:hover {
	background: #EB2A57;
}

#edit-item {
	background: #2AEBBE;
	border: 0;
	width: 350px;
	height: 40px;
	border-radius: 5px;
	color: #fff;
  font-family: 'Poppins';
	font-size: 14px;
	cursor: pointer;
	transition: background .3s ease-in-out;
	outline: none
}

#edit-item:hover {
	background: #00CF9E;
}

#itemlist {
	text-align: center;
	margin-bottom: 20px;
}

#additem {
	margin-bottom: 10px;
	text-align: center
}

#logout, #submit{
	text-align: center
}

.form-group {
	text-align: center;
}
::-webkit-input-placeholder {
  font-family: 'Poppins';
	color: #8F8F8F;
	font-size: 14px;
}

.animated {
	animation-fill-mode: both;
	animation-duration: 1s;
}

@keyframes shake {
	0%, 100% {
		transform: translateX(0);
	}

	10%, 30%, 50%, 70%, 90% {
		transform: translateX(-10px);
	}

	20%, 40%, 60%, 80% {
		transform: translateX(10px);
	}
}
